{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

{% if song %}

{# Display card for the song details #}
<div class="song-container">
  <ul class="song-info">
    <div class="song-title"> {{ song.title }}
      <p class="song-date"> &middot; {{ song.release_year }}</p>
    </div>
    <img class="song-img" alt="alt text" src="{{ song.album_image_url }}" />


    <li class="opacity-40 md:px-4"><b>Title:</b> {{ song.title }}</li>
    <li class="opacity-40 md:px-4"><b>Artists:</b> {{ song.artists }}</li>
    <li class="opacity-40 md:px-4"><b>Album:</b> {{ song.album }}</li>
    <li class="opacity-40 md:px-4"><b>Released:</b> {{ song.release_year }}</li>
  </ul>

  <iframe src="https://open.spotify.com/embed/track/{{ song.track_id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  {# Reviews #}
  <div class="reviews">
    <h1 class="reviews-title"> Reviews
      <small class="reviews-count"> {{ reviews | length }} reviews </small>
    </h1>
    <ul class="review-container">
      {% for review in reviews %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{review.image}}" alt="" />
          <div class="w-full">
            <span class="review-date">{{ review.date }}</span>
            <a class="review-commenter" href="{{ url_for('songs.user_detail', username=review.commenter.username) }}">
              @{{ review.commenter.username }}
            </a>
            <p class="review-content">{{ review.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      {# song review submission form #}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ form.csrf_token }}
          <div class="form-group review-input">
            {{ form.text.label }} {{ form.text(class="form-content") }}
            {% if form.text.errors %}
              <div class="error" role="alert">
                {% for error in form.text.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {{ form.submit(class="review-button") }}
        </form>
      </div>
    {% endif %}
  </div>
  <div class="w-0 lg:w-96"></div>
</div>
{% endif %} {% endblock content %}