
{% extends "header.html" %} {% block content %}
{% if error %}
    <b class="text-red-400" role="alert">
        {{ error }}
    </b>
{% endif %}
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {# User's Profile Picture #}
    <img class="rounded-2xl" src="data:image/png;base64,{{user.image}}" alt="image">
    <h1>{{ user.username }}'s Reviews</h1>

</div>
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    {% for review in reviews %}
    <li class="media review-item">
            <span class="float-right">
                <small>{{ review.date }}</small>
            </span>

            <strong>For: <a href="{{url_for('songs.song_detail', song_id = review.imdb_id)}}">
                {{ review.song_title}}
                </a>
            </strong>
            <p>
                {{ review.content}}
            </p>
    </li>
    {% endfor %}
   
</div>


{% endblock %}